const bcrypt = require('bcrypt')

const encryptPasswords = async () => {
    const salt1 = await bcrypt.genSalt(10);
    const hashedPass1 = await bcrypt.hash('', salt1);

    console.log(hashedPass1);
}

encryptPasswords();

