<div class="card">
    <div class="card-body">
        <h5 class="card-title">User Profile</h5>
        <p></p>
        <div class="mb-3">
            <label class="form-label">First Name:</label> {{user?.firstName}}
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name:</label> {{user?.lastName}}
        </div>
        <div class="mb-3">
            <label class="form-label">Login:</label> {{user?.login}}
        </div>
        <div class="mb-3">
            <label class="form-label">Role:</label> {{user?.role}}
        </div>
    </div>
</div>