<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Product</h5>
            <form method="POST" action="product">
                <div class="mb-3">
                    <label for="title" class="form-label">title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price">
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amount" name="amount">
                </div>
                <input name="postAction" type="text" value="create" id="postActionId" hidden/>
                <div class="mb-3" style="float: right">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
                
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Products List</h5>
            <table class="table table-striped" id="productsTableId">
                <thead>
                    <tr>
                        <th>Title</th> <th>Price</th> <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product.title}}</td> 
                        <td>{{product.price}}</td> 
                        <td>{{product.amount}}</td> 
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="remove(product.title)">Remove</button>
                            <button class="btn btn-info btn-sm" (click)="update(product)">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>