<div class="modal-header">
    <h4 class="modal-title">Generate Password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <span [ngClass]="{'text-danger': fail, 'text-success': success}">{{message}}</span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" style="margin-right: 5px;" (click)="activeModal.dismiss()">Close</button>
    <button type="button" (click)="generatePass()" *ngIf="!success" class="btn btn-success">Generate</button>
</div>