<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Password</title>
</head>
<body>
    <main>
        <% if(updated) { %>
            <% if(success) { %>
                <p style="color: green">Password was updated with success. You can use it to connect now from <a href="<%= frontendPath %>/#/connection">here</a>.</p>
            <% } else { %>
                <p style="color: red">Sorry an error was occured during password update. Please contact <a href="<%= frontendPath %>/#/home">Customer Service</a>.</p>
            <% } %>
        <% } else { %>
            <form method="POST" action="update">
                <div>
                    <label>New Password:</label>
                    <input type="password" id="newPassword" name="newPassword"/>
                </div>
                <div>
                    <label>Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword"/>
                </div>
                <input type="text" id="login" name="login" value="<%= login %>" hidden>
                <button type="submit">Save</button>
            </form>

        <% } %>
        
    </main>
</body>
</html>