<html>
<head><title>{{pageTitle}}</title>
<link href="/css/bootstrap.min.css" rel="stylesheet"></head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2  {{#if isWelcomePage}}link-dark{{/if}} {{#if isProductsPage}}link-secondary{{/if}} ">Home</a></li>
        <li><a href="/product" class="nav-link px-2  {{#if isProductsPage}}link-dark{{/if}} {{#if isWelcomePage}}link-secondary{{/if}}">Products</a></li>
    </ul>

    <div class="col-md-3 text-end">
        {{#if isWelcomePage}}
            <button type="button" class="btn btn-outline-primary me-2" onclick="login()">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        {{/if}}
        {{#if isProductsPage}}
            <button type="button" class="btn btn-outline-primary me-2" onclick="logout()">Logout</button>
        {{/if}}
    </div>
    </header>
    <div>
        {{{body}}}
    </div>
</div>
</body>
</html>